{% extends 'ThemeBootstrapBundle:Page/Public:base.html.twig' %}
{% block meta %}
  <meta name="description" content="Open French, Learn French">
  <meta name="keywords" content="Open French, Learn French, Virtual French, 
        Sexy French, French Class, Clases Frances, Clases Virtuales Frances, 
        Aprende Frances, centro idiomas, español, private tutor, personal, 
        instructor, practice french, language, courses, classes, learn, skill, 
        conversation,  frances, aprenda frances, aprenda español, toelf, delf, 
        tefaq, tcf, def, ielts, frances gratis, cursos de frances gratis, 
        cursos gratis de frances, cursos gratuitos de idiomas, 
        estudiar francés a distancia, estudiar frances a distancia, 
        cursos virtuales de francés, clases virtuales de frances, 
        profesores nativos de francés, profesores nativos de frances 
        profesores nativos de frances, examenes de francés, 
        examenes de frances, virtual, leer, lectura, escritura, virtualidad, 
        english, spanish, french, français, curso de frances online, 
        estudiar frances gratis desde internet, 
        quiero estudiar idiomas, quiero aprender frances , francess facil, 
        frances rápido, francés app" />
  <meta name="classification" content="Open French, Learn French, Virtual French, 
        Sexy French, French Class, Clases Frances, Clases Virtuales Frances, 
        Aprende Frances, centro idiomas, español, private tutor, personal, 
        instructor, practice french, language, courses, classes, learn, skill, 
        conversation,  frances, aprenda frances, aprenda español, toelf, delf, 
        tefaq, tcf, def, ielts, frances gratis, cursos de frances gratis, 
        cursos gratis de frances, cursos gratuitos de idiomas, 
        estudiar francés a distancia, estudiar frances a distancia, 
        cursos virtuales de francés, clases virtuales de frances, 
        profesores nativos de francés, profesores nativos de frances 
        profesores nativos de frances, examenes de francés, 
        examenes de frances, virtual, leer, lectura, escritura, virtualidad, 
        english, spanish, french, français, curso de frances online, 
        estudiar frances gratis desde internet, 
        quiero estudiar idiomas, quiero aprender frances , francess facil, 
        frances rápido, francés app"">



  <meta name="robots" content="index, follow">
{% endblock meta %}
{% block title %}
  Login to French
{% endblock title %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <style type="text/css" >
    #logo {
      width: 32px;
      margin-top: -5px;
    }
    legend{
      margin-bottom: 12px ;
    }
    h1,h2,h3,h4{
      margin-top: 0px;
    }
    h1.blue, h2.blue, h3.blue, h4.blue{
      color: #1388fe;
    }
    h1.white,h2.white,h3.white,h4.white{
      margin-top: 6px;
      color: white;
    }
    .profile-dropdown{
      margin-right: 15px;
    }
    .profile-dropdown > a{
      margin: 0;
      padding: 0 !important;
    }
    ul.nav li.dropdown:hover > ul.dropdown-menu {
      display: block; 
    }
    .navbar-logintofrench{
      background-color: #ffffff;
      border-color: #ffffff;
      border-bottom: 9px solid rgb(0, 136, 203);
    }

    .margin-top-bottom{
      margin-top: 40px;
      margin-bottom: 40px; 
    }
    .padding-top-bottom{
      padding-bottom: 20px;
      padding-top: 20px;
    }

    /* SECTIONS */

    .section-blue{
      background-color: #015c96;
    }
    .section-gray{
      background-color: #e6e6e6;
      *background-color: #e6e6e6;
      background: -moz-linear-gradient(top, #f2f2f2, #e6e6e6);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e6e6e6));
      background: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
      background: -o-linear-gradient(top, #f2f2f2, #e6e6e6);
      background: linear-gradient(top, #f2f2f2, #e6e6e6);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe6e6e6', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    /*SEPARATORS*/

    .separator.white {
      border: 0;
      height: 3px;
      margin-top: 18px;
      margin-bottom: 18px;
      width: 100%;
      background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0.65) 50%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,0,0,0)), color-stop(15%,rgba(255,0,0,0)), color-stop(50%,rgba(255,0,0,0.65)), color-stop(85%,rgba(255,0,0,0)), color-stop(100%,rgba(255,0,0,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* IE10+ */
      background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=1 ); /* IE6-9 */
    }
    .separator.blue {
      border: 0;
      height: 3px;
      margin-top: 18px;
      margin-bottom: 18px;
      width: 100%;
      background: -moz-linear-gradient(left, rgba(0, 136, 203,0) 0%, rgba(0, 136, 203,0) 15%, rgba(0, 136, 203,0.65) 50%, rgba(0, 136, 203,0) 85%, rgba(0, 136, 203,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,0,0,0)), color-stop(15%,rgba(255,0,0,0)), color-stop(50%,rgba(255,0,0,0.65)), color-stop(85%,rgba(255,0,0,0)), color-stop(100%,rgba(255,0,0,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(0, 136, 203,0) 0%,rgba(0, 136, 203,0) 15%,rgba(0, 136, 203,0.65) 50%,rgba(0, 136, 203,0) 85%,rgba(0, 136, 203,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(0, 136, 203,0) 0%,rgba(0, 136, 203,0) 15%,rgba(0, 136, 203,0.65) 50%,rgba(0, 136, 203,0) 85%,rgba(0, 136, 203,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(0, 136, 203,0) 0%,rgba(0, 136, 203,0) 15%,rgba(0, 136, 203,0.65) 50%,rgba(0, 136, 203,0) 85%,rgba(0, 136, 203,0) 100%); /* IE10+ */
      background: linear-gradient(left, rgba(0, 136, 203,0) 0%,rgba(0, 136, 203,0) 15%,rgba(0, 136, 203,0.65) 50%,rgba(0, 136, 203,0) 85%,rgba(0, 136, 203,0) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=1 ); /* IE6-9 */
    }

    /* WELL */

    .well {
      min-height: 13px;
      background: #fff;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      -webkit-transition: opacity 0.1s ease-in-out;
      -moz-transition: opacity 0.1s ease-in-out;
      -o-transition: opacity 0.1s ease-in-out;
      transition: opacity 0.1s ease-in-out;
      border-radius: 0px;
    }

    /*--- FX ---*/

    @keyframes fade {
      from { opacity: 1.0; }
      50% { opacity: 0.4; }
      to { opacity: 1.0; }
    }

    @-webkit-keyframes fade {
      from { opacity: 1.0; }
      50% { opacity: 0.4; }
      to { opacity: 1.0; }
    }

    .blink {
      animation:fade 3000ms infinite;
      -webkit-animation:fade 3000ms infinite;
    }

    #carousel-logintofrench, #carousel-logintofrench .item {
      height: 620px;
    }

    /* --- FACE ---- */

    .facebook-icon {
      background: #43609C;
      border-radius: 9%;
      height: 20px;
      width: 20px; 
    }
    .facebook-icon:hover {
    }

    .facebook-icon:after {
      color: #fff;
      content: "f";
      display: block;
      font-family: Facebook Letter Faces, Arial;
      font-size: 20px;
      font-weight: bold;
      margin: 4% 0 0 50%; 
    }

    .facebook-icon:hover {
      background: darkblue;
    }

    /* --- SKYPE --- */

    #SkypeButton_Call_lau_coeurvert_1 #SkypeButton_Call_lau_coeurvert_1_paraElement{
      font-size: 10px !important;
    }
    #SkypeButton_Call_lau_coeurvert_1 img{
      margin: 0 !important;
      margin-left: 15px !important;
    }
  </style>
{% endblock %}
{% block body %}
  <header class="clearfix" style="min-height: 58px; ">
    <div class="navbar navbar-default navbar-logintofrench navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block navbarbrand %}
            <a class="navbar-brand" href="{{ path('frontend_homepage') }}">
              <h3> 
                <img src="/img/logo.png" id="logo" /> Login to French
              </h3>
            </a>
          {% endblock %}
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% block navbarrightli %}
              <li>
                <a class="scrollTo" href="{{ path('frontend_homepage') }}" data-tag="#home" >{{ 'header.home'|trans }}</a>
              </li>
              <li>
                <a class="scrollTo" href="{{ path('frontend_about') }}" data-tag="#about">{{ 'header.about'|trans }}</a>
              </li>
              <li>
                <a class="scrollTo" href="{{ path('frontend_lessons') }}" data-tag="#lessons">{{ 'header.lessons'|trans }}</a>
              </li>
              <li>
                <a class="scrollTo" href="{{ path('frontend_contact') }}" data-tag="#contact">{{ 'header.contact'|trans }}</a>
              </li>
              <li>
                <a style="padding-left: 5px; padding-right: 0px;" href="https://www.facebook.com/pages/Logintofrench/1449514748624414?fref=ts"  target="_blank">
                  <div class="facebook-icon"></div>
                </a>
              </li>
              <li>
                <div id="SkypeButton_Call_lau_coeurvert_1" >

                </div>
              </li>
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </header>

  <div class="container" >
    {% include 'ThemeBootstrapBundle:Helper:flash.html.twig' %}
  </div>
  {% block content %}
    <div class="container">
      block content
    </div>
  {% endblock %}



{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.11/jquery.scrollTo.min.js"></script>
  <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>

  <script type="text/javascript">
    Skype.ui({
      "name": "call",
      "element": "SkypeButton_Call_lau_coeurvert_1",
      "participants": ["lau_coeurvert"],
      "imageSize": 24
    });
  </script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-50107759-1', 'logintofrench.com');
    ga('send', 'pageview');

  </script>
{% endblock %}