{% extends 'MainPageFrontendBundle:Default:base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <style type="text/css">
    .slider-box-text{
      box-shadow: black 0px 4px 10px -5px;
      text-shadow: none;
      opacity: 0.65;
      padding: 10px;
      color: rgb(255, 255, 255);
      background-color: black;
      white-space: nowrap;
      height: auto; 
      border-width: 0px;
      -webkit-transform: rotate(0deg) scale(1, 1);
      display: inline-block;
    }

    .carousel-control.left, .carousel-control.right {
      background-image: none; 
      filter: none;
      background-repeat: no-repeat; 
    }
  </style>
{% endblock stylesheets %}

{% block body %}
  <div id="home">
    <div id="carousel-logintofrench" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-logintofrench" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-logintofrench" data-slide-to="1"></li>
        <li data-target="#carousel-logintofrench" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <img src="{{ asset('img/study001.jpg') }}" alt="Login to French" style="height:620px;" />
              </div>
              <div class="col-md-7">
                <div class="text-center" style="margin-top: 150px;">
                  <h2 class="blue">Learn french now!</h2>
                  <a class="btn btn-danger scrollTo" href="{{ path('frontend_contact') }}" data-tag="#contact" > get $150 off!</a>
                  <h3 class="blue">Taking 10 hours per month!</h3>
                  <h4>Contact us for more information</h4>
                </div>
              </div>
            </div>  
          </div>  
        </div>
        <div class="item" style="height:620px; background: url({{ asset('img/study002.jpg') }}) no-repeat; background-size:  100% ; background-position:center center; ">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-md-offset-7">
                <div class="text-center" style="margin-top: 150px;">
                  <h1 class="white slider-box-text">Private lessons for children</h1>
                  <p>

                    <a class="btn btn-danger scrollTo" href="{{ path('frontend_contact') }}" data-tag="#contact" > get $150 off!</a>
                  </p>
                  <h3 class="white slider-box-text">Taking 10 hours per month!</h3>
                  <h4 class="white slider-box-text">Contact us for more information</h4>
                </div>
              </div>
            </div>  
          </div>  
        </div>
        <div class="item" style="height:620px; background: url({{ asset('img/study003.jpg') }}) no-repeat; background-size:  100% ;background-position:center center; ">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-md-offset-7">
                <div class="text-center" style="margin-top: 150px;">
                  <h1 class="white slider-box-text">Virtual lessons with Skype</h1>
                  <a class="btn btn-danger scrollTo" href="{{ path('frontend_contact') }}" data-tag="#contact" > get $150 off!</a>
                  <div style="margin-top: 10px;">
                    <h3 class="blue slider-box-text">Taking 10 hours per month!</h3>
                  </div>
                  <h4 class="white slider-box-text">Contact us for more information</h4>
                </div>
              </div>
            </div>  
          </div>  
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-logintofrench" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-logintofrench" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>

{% endblock body %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
  </script>
{% endblock  %}