{% extends 'MainPageFrontendBundle:Default:base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <style>
    .ltf-promo-box{
      width: 100%; 
      height: 287px
    }
  </style>
{% endblock stylesheets %}
{% block body %}




  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="ltf-promo-box"  style="min-height: 287px;">
          <div class="ltf-promo-box" style="margin: 0px;">
            <div style="overflow: hidden; width: 100%; height: 100%; background-image: url({{ asset('img/lesson001.jpg') }}); background-size: 378px 287px; background-position: -76px 0px; background-repeat: no-repeat;">
              <img class="ltf-promo-box" alt="" src="{{ asset('img/lesson001.jpg') }}" style="position: absolute; width: 378px; height: 287px; top: 0px; left: -76px; visibility: hidden;">
            </div>
            <div skinpart="zoom" class="wysiwyg_viewer_skins_gallerymatrix_MatrixDisplayerDefaultSkinmg2-zoom" style="cursor: default;">
              <div skinpart="title" class="wysiwyg_viewer_skins_gallerymatrix_MatrixDisplayerDefaultSkinmg2-title" style="overflow: hidden; text-overflow: ellipsis;">
                lesson001.jpg
              </div>
              <div skinpart="description" class="wysiwyg_viewer_skins_gallerymatrix_MatrixDisplayerDefaultSkinmg2-description" style="overflow: hidden; text-overflow: ellipsis;">

              </div>
              <a skinpart="link" class="wysiwyg_viewer_skins_gallerymatrix_MatrixDisplayerDefaultSkinmg2-link" style="display: none; cursor: default;">
                Go to link
              </a>
            </div>
          </div>
        </div>
        {#        <img src="{{ asset('img/lesson001.jpg') }}" alt="Login to French - Private Lessons" style="width: 100%" />#}
      </div>
    </div>
  </div>
  {#  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Different Types of French Lessons & Tutoring</h2>
        </div>
      </div>  
      <div class="row">
        <div class="col-md-4">
          <img src="{{ asset('img/lesson001.jpg') }}" alt="Login to French - Private Lessons" style="width: 100%" />
        </div>
        <div class="col-md-8">
          <h3>Private Lessons</h3>
          <p>$50 per hour going to your house or office. ($ 350  10 hours/month)</p>
          <p>$35 per hour if you come to my place in North Miami Beach.($ 250 10 hours/month)</p>
        </div>
      </div>  
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <img src="{{ asset('img/lesson002.jpg') }}" alt="Login to French - Group Lessons" style="width: 100%" />
        </div>
        <div class="col-md-8">
          <h3>Group Lessons</h3>
          <p>$ 30 per person for one hour going to your house or office or:</p>
          <ul>
            <li>(group of 2 persons $400  10 hours/month)</li>
            <li>(group of 3 persons $450  10 hours/month)</li>
            <li>(group of 4 persons $500  10 hours/month)</li>
          </ul>
          <p>$25 per person for one hour if you come to my place in North Miami Beach:</p>
          <ul>
            <li>(group of 2 persons $300  10 hours/month)</li>
            <li>(group of 3 persons $350  10 hours/month)</li>
            <li>(group of 4 persons $400  10 hours/month)</li>
          </ul>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <img src="{{ asset('img/lesson003.jpg') }}" alt="Login to French - Kid Lessons" style="width: 100%" />
        </div>
        <div class="col-md-8">
          <h3>Kids</h3>
          <p>$50 per hour going to your house or office. ($ 350 10 hours/month)</p>
          <p>$35 per hour if you come to my place in North Miami Beach. ($ 250 10 hours/month)</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <img src="{{ asset('img/lesson005.png') }}" alt="Login to French - Skype Lessons" style="width: 100%" />
        </div>
        <div class="col-md-8">
          <h3>Skype</h3>
          <p>$35 per hour.($ 250 10 hours/month)</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <img src="{{ asset('img/lesson004.jpg') }}" alt="Login to French - Kid Lessons" style="width: 100%" />
        </div>
        <div class="col-md-8">
          <h3>Translations</h3>
          <p>We are ready to provide our best services in:</p>
          <ul>
            <li>Spanish >  French </li>
            <li>French > Spanish </li>
            <li>Italian > French</li>
            <li>French > Italian</li>
            <li>Portuguese > Spanish</li>
            <li>Spanish > Portuguese</li>
            <li>French > English</li>
            <li>English > French</li>
            <li>English > Portuguese</li>
            <li>Portuguese > English </li>
            <li>And more....</li>
          </ul>
        </div>
      </div>
      <hr/>
    </div>#}
{% endblock body %}