<div>
  Info sent
</div>
<div>
  <ul>
    <li>{{ data.name }}</li>
    <li>{{ data.phone }}</li>
    <li>{{ data.email }}</li>
    <li>{{ data.address }}</li>
    <li>{{ data.subject }}</li>
    <li>{{ data.message }}</li>
  </ul>
</div>
